
:root {
  --laranja: #FF6A00;
  --preto: #120F1F;
  --off-white: #E8E5DE;
  --roxo-vivo: #6d00ad;
  --roxo-escuro: #290E42;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



aside{
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border-right: 2px solid black;
    height: 87vh;
}

.logo_aside_rivalix{
    padding: 20px 0;
    width: 80%;
}

.container_perfil{
 display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite quebrar linha se necessário */
  padding: 10px 20px;
}

.fixo_baixo{
    box-shadow: 0 -12px 20px -3px var(--roxo-vivo);
    border-top: 2px solid black;
    padding: 20px 0;
}

.titulo_aside{
    font-size: 20px;
}

.container_links{
    padding: 20px;
}

.container_links h2{
    font-size: 1.5rem;
}

.container_links a {
    text-decoration: none;
    color: inherit; /* ou uma cor personalizada, ex: color: black; */
}

.container_links ul{
    padding-top: 10px;
}

.container_links li{
    padding: 5px 10px; 
    font-size: 1.2rem;
    transition: 0.1s;
}

.container_links i{
    padding-right: 10px;
}

.container_links ul, li{
    list-style: none;
}

.container_links li:hover{
    color:  var(--laranja);
}
.container_img{
    background: var(--preto);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10px;
}

.foto_usuario{
    border-radius: 50%;
    background-image: var(--preto);
    width: 100%;
    height: 100%;
}

.container_perfil{
    display: flex;
    align-items: center;
}

.infos_perfil_home{
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  min-width: 0;
}

.infos_perfil_home .nomes{
    overflow: hidden;
}

.config_perfil{
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  white-space: nowrap;
}

.config_perfil a{
    text-decoration: none;
    color: #120F1F;
    transition: 0.2s;
}

.config_perfil a:hover{
    color:  var(--laranja);
}

@media (max-width: 1024px) {
  aside {
    width: 200%;
    display: flex;

  }

}

@media (max-width: 768px) {
  aside {
    display: flex;
    width: 500%;
  }

}





