@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden; 
}

main {
  font-family: 'Exo 2';
  height: 200vh;
}

.nav {
  z-index: 2;
  position: fixed;
  height: 150px;
  width: 100%;
}


.container_header {
  background: transparent;
  width: 100%;
}

.container_header input{
  z-index: 2;
}

.container_corpo{
  display: flex;
  padding-top: 150px;
}

.sideBar {
  width:20%;
  position: fixed;
  height: 89vh;
}

.container_sections{
  width: 80%;
  margin-left: 20%;
  background-color: aqua;
}

