@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden; 
}

main {
  font-family: 'Exo 2';
  height: 200vh;
}

.nav {
  position: fixed;
  height: 150px;
  width: 100%;
}


.container_header {
  background: transparent;
  width: 100%;
}

.container_corpo{
  display: flex;
  padding-top: 150px;
}

.sideBar {
  width: 20%;
  position: fixed;
}

.container_sections{
  width: 80%;
  margin-left: 20%;
  background-color: aqua;
}

@media (max-width: 1024px) {
  aside {
    width: 40%;
    display: none;
  }


  .logo_rivalix {
    padding-left: 40px;
  }

  .logo_rivalix {
    width: 30%;
  }

  .container_header {
    width: 100%;
  }

  .container_icons {
    display: none;
  }

  .menu_hamburger {
    padding-right: 40px;
  }

  .menu_hamburger i {
    font-size: 25px;
  }

  .container_header input {
    display: none;
  }

}

@media (max-width: 768px) {
  aside {
    display: flex;
    width: 100%;
  }

  .container_header {
    width: 100%;
    position: fixed;

  }

  .container_icons {
    display: none;
  }

  .logo_rivalix {
    width: 100%;
  }

}