body {
  height: 200vh;
  background-color: rgb(122, 175, 175);
}

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

main {
  margin-top: 140px;
  margin-left: 20%;
}

@media (max-width: 1024px) {
  main {
    margin-left: 0;
  }
}
