@import "remixicon/fonts/remixicon.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Exo 2';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    --bg-color: #dadada;
    --text-color: #000;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark {
    --bg-color: #272727;
    --text-color: #ffffff;
    background-color: var(--bg-color);
    color: var(--text-color);
}


